<!DOCTYPE html>

@using Microsoft.AspNet.Identity
@using MiidWeb.Helpers

@RenderSection("scripts", required: false)
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="shortcut icon" href="~/Content/favicons/jac/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/favicons/jac/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/favicons/jac/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/favicons/jac/favicon-16x16.png">
    <link rel="manifest" href="~/Content/favicons/jac/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">



    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5d51b93c77aa790be32e9547/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->


    <link rel="stylesheet" href="~/Scripts/growl.css" type="text/css">



    @Styles.Render("~/content/css/css2018/Bootstrapjacarandafm.css")
    @Styles.Render("~/content/css/css2018/jacarandafmMain.css")
    @Styles.Render("~/content/Css/EOcss2018/steps.css")
    @Styles.Render("~/content/css/css2018/Global.css")


    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">







    @Scripts.Render("~/content/js/jquery-1-12-4-min.js")
    <!--	@Scripts.Render("~/content/js/jquery-touchswipe-min.js") -->
    @Scripts.Render("~/content/js/EOjs2018/steps.js")






</head>

<body>



    <nav class="navbar navbar-default">

        <div class="container-fluid">
            <a class="navbar-brand hidden-xs hidden-sm" href="#"><img src="https://www.lightingtickets.com/uploads/company/lightinglogo.png" style="width:80px; margin-top:-5px;" style="display:inline-block" /></a>
            <a class="navbar-brand hidden-md hidden-lg" href="#"><img src="https://www.lightingtickets.com/uploads/company/lightinglogo.png" style="width:40px; margin-top:-5px;" style="display:inline-block" /></a>

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartialBokRadio")

                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>






    <!-- changes nave when user is logged in-->
    <!-- close change nav-->











    <div id="wrapper">






















        @RenderBody()







        <script src="~/Scripts/jsnew/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Scripts/jsnew/bootstrap.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        @Scripts.Render("~/content/js/bootstrap.min.js")


    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/Scripts/jquery.tokeninput.js")



    @{
        string[] parts = new string[10];

        if (TempData.ContainsKey("Growl") && !String.IsNullOrEmpty((string)TempData["Growl"]))
        {
            string growl = (string)TempData["Growl"];
            parts = growl.Split(':');



            <script type="text/javascript">
        growl('@parts[0]', '@parts[1]');
            </script>
        }

    }




</body>
</html>
