<!DOCTYPE html>

@using Microsoft.AspNet.Identity
@using MiidWeb.Helpers

@RenderSection("scripts", required: false)
<html lang="en" xml:lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">


	<!--facebook meta-->
	<meta property="og:url" content="https://www.miid.co.za" />

	<meta property="og:image" content="https://www.miid.co.za/Uploads/genricticket.jpg" />




	<link rel="stylesheet" href="~/Scripts/growl.css" type="text/css">
	<!-- Google Tag Manager -->
	<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKCDRPP');</script>
	<!-- End Google Tag Manager -->

	<meta name="robots" content="noindex">



	<meta name="googlebot" content="noindex">

	@Styles.Render("~/content/css/css2018/bootstrap.css")
	@Styles.Render("~/content/css/css2018/shemuraimain.css")
	@Styles.Render("~/content/css/css2018/global.css")

	@Styles.Render("~/content/css/newcss/font-awesome.css")
	@Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")


	@Scripts.Render("~/content/js/jquery-1-12-4-min.js")
	@Scripts.Render("~/content/js/jquery-touchswipe-min.js")


	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

	<!-- Custom CSS -->
	<!-- splash screen loaded
	<script type="text/javascript">
		jQuery(document).ready(function () {
			$("#loader").delay(800).fadeOut(400, function () {
				$("#your-page").fadeIn(400);
			});
		});
	</script> -->

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<Script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "70%";
    // document.getElementById("flipkart-navbar").style.width = "50%";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.body.style.backgroundColor = "rgba(0,0,0,0)";
}
	</Script>

	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->


	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />



</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKCDRPP"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<!--
	 <div id="loader">
		 <div>
			 <img src="~/Content/images2018/logo.svg" class="logo-splash" alt="Mi-iD online ticket logo"></a>
			 <div>
				 <button class="btn btn-default btn-lg" style="border:0px; background-color: transparent;"><i class="fa fa-circle-o-notch fa-spin" style="color:#383838"></i><span style="color:#383838">&nbsp;Loading</span></button>
			 </div>

		 </div>
	 </div>
		-->
	<span style="display:none" itemscope itemtype="http://schema.org/Organization">
		<link itemprop="url" href="https://www.miid.co.za/">
		<a itemprop="sameAs" href="https://www.facebook.com/miidevents/">FB</a>
		<a itemprop="sameAs" href="https://twitter.com/MiiDEvents">Twitter</a>
	</span>

	<div id="your-page">

		<div id="wrapper">


			<div id="flipkart-navbar">

				<div class="row row1 " style="margin: 0">


					<div class="flipkart-navbar-search smallsearch col-sm-5 col-xs-11 ">
						<div class="row hidden-sm hidden-xs">

							<div class="punchline">Pop up Dojo Experience</div>
						</div>
					</div>
					<div class="flipkart-navbar-search smallsearch col-sm-12 col-xs-12 col-md-5 pull-right">
						<div class="flipkart-navbar-search">


							@if (Request.IsAuthenticated)
							{


								var endUser = MiidWeb.Repositories.EndUserRepository.GetUser(User.Identity.GetUserName(), true);
								bool IAmEventOrganiser = false;
								IAmEventOrganiser = MiidWeb.Repositories.EndUserRepository.AmIAnEventOrganiser(User.Identity.GetUserName());
								// if (endUser == null && !IAmEventOrganiser) { Response.Redirect("../EndUsers/CreateFirst"); }
								<div>
									@{
										string profilePic = "avatar_blank.png";
										if (!String.IsNullOrEmpty(endUser.ProfilePicURL))
										{
											profilePic = endUser.ProfilePicURL;
										}
									}




									<div class="user-name col-md-4 col-sm-12 col-xs-12 pull-right">
										<div class="pull-right">
											Hi, @endUser.FirstName
											@Html.ActionLink("Edit", "MiiDetails", "EndUsers", new { id = @endUser.Id }, null)
										</div>
										<!--   <img src="~/images/@profilePic" class="profile-image img-circle" style="width:50px; padding:5px;" /> -->


									</div>




								</div>
										}

										else

										{
											<div class="flipkart-navbar-search smallsearch col-sm-12 col-xs-12 col-md-12 pull-right">
												<div class="row">



													<button class="pull-right btn-info btn-warning btn-lg col-xs-3 sml-btn-text" onclick="location.href = '../LoginAlternative/LoginAlternative' ">Sign In</button>



												</div>
											</div>
										}
						</div>
					</div>












				</div>
				<div class="row row2" style="margin: 0">
					<div class="col-sm-2">
						<h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰<img src="~/Content/images2018/company/she-logo.png" alt="Online Ticketin" class="logo pull-right "></span></h2>
						<h1 style="margin:0px;">
							<span class="largenav">
								<a href="@Url.Action("Index", "Home", null)">   <img src="~/Content/images2018/company/she-logo.png" alt="Online Ticket" style="width:200px;"></a>
							</span>
						</h1>
					</div>


					@Html.Partial("_LoginShemurai")






				</div>


			</div>







			@RenderBody()



			<footer>
				<div class="footer" id="footer">
					<div class="container">
						<div class="row">
							<div class="col-lg-3  col-md-3 col-sm-12 col-xs-12">
								<h3> Shemurai</h3>
								<ul>
									
									<li> <a href="https://www.shemurai.com/">  Main Site </a> </li>
									

									<li> <a href="https://www.shemurai.com/packages"> Packages</a> </li>
									<li> <a href="https://www.shemurai.com/video"> Videos</a> </li>
									<li> <a href="https://www.shemurai.com/gallery"> Gallery</a> </li>


								</ul>
							</div>
							<div class="col-lg-3  col-md-3 col-sm-12 col-xs-12">
								<h3>Powered by Mi-id</h3>
								<ul>


									<li><a href="https://www.miid.co.za/"><img src="~/Content/images2018/logo.svg" style="width:40%;" /></a> </li>


								</ul>
							</div>
							<div class="col-lg-3  col-md-3 col-sm-12 col-xs-12">
								<h3>Producs and Services</h3>
								<ul>

									<li> <a href="~/Home/TicketingExplanation">Online Ticketing </a> </li>
									<li> <a href="~/Home/BoxOffice">Box Office </a> </li>
									<li> <a href="~/Home/NFCTickets">NFC Ticketing</a> </li>
									<li> <a href="~/Home/MiiFundsExplanation">Cashless </a> </li>
									<li> <a href="~/Home/WhiteLabel">White Label</a> </li>


								</ul>


							</div>



							<div class="col-lg-3  col-md-3 col-sm-12 col-xs-12">

								<h3>Follow us</h3>
								<ul>
									<li>

									</li>
								</ul>
								<ul class="social">
									<li> <a href="https://www.facebook.com/shemurairisingsa"> <i class="fab fa-facebook-f">   </i> </a> </li>
									<li> <a href="https://www.instagram.com/shemurairising/"> <i class="fab fa-instagram">   </i> </a> </li>
									<li> <a href="https://twitter.com/shemurairising"> <i class="fab fa-twitter">   </i> </a> </li>

								</ul>
								<br><br><br>
							</div>

						</div>
						<div class="row" hidden>
							<div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 hidden">

								<ul>

									<li><small>Download the Cashless App</small> </li>
									<a href="https://play.google.com/store/apps/details?id=com.dsouchon.MiiDCashless">	<li> <img src="~/Content/images2018/google.svg" class="icon_custom_medium" /> </li></a>

								</ul>
							</div>

							<div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 hidden">
								<ul>
									<li><small>Download the Ticketing App</small> </li>

									<a href="https://play.google.com/store/apps/details?id=com.dsouchon.TicketingMiiD">	<li> <img src="~/Content/images2018/google.svg" class="icon_custom_medium" /></li></a>

								</ul>

							</div>


						</div>
						<!--/.row-->
					</div>
					<!--/.container-->
				</div>
				<!--/.footer-->

				<div class="footer-bottom">
					<div class="container">
						<p class="pull-left"> Copyright © Mii-D PTY ltd </p>
						<div class="pull-right">

							<ul class="nav nav-pills payments">
								<li>
									<span id="siteseal">
										<script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=TQA32wHKjedbSITh3Zr7A8eyZnOYVHDeIR5ZxmxDOqq1i6cxqVrtlG6daMED"></script>
									</span>&nbsp;&nbsp;
								</li>
								<li><i class="fab fa-cc-visa fa-lg"></i></li>
								<li><i class="fab fa-cc-mastercard fa-lg"></i></li>


							</ul>

						</div>
					</div>
				</div>
				<!--/.footer-bottom-->
			</footer>





			<script src="~/Scripts/jsnew/jquery.js"></script>
			<!-- Bootstrap Core JavaScript -->
			<script src="~/Scripts/jsnew/bootstrap.min.js"></script>

			@Scripts.Render("~/content/js/jquery1.1.2/jquery.min.js")
			@Scripts.Render("~/content/js/jquery2.1.3/jquery.min.js")
			<!-- Latest compiled and minified JavaScript -->
			@Scripts.Render("~/content/js/bootstrap.min.js")
		</div>





		@Scripts.Render("~/bundles/jquery")

		@Scripts.Render("~/Scripts/jquery.tokeninput.js")



		@{
			string[] parts = new string[10];

			if (TempData.ContainsKey("Growl") && !String.IsNullOrEmpty((string)TempData["Growl"]))
			{
				string growl = (string)TempData["Growl"];
				parts = growl.Split(':');



				<script type="text/javascript">
        growl('@parts[0]', '@parts[1]');
				</script>
			}

		}

		<script>

var $buoop = {required:{e:-4,f:-3,o:-3,s:-1,c:-3},insecure:true,api:2018.09 };
function $buo_f(){
 var e = document.createElement("script");
 e.src = "//browser-update.org/update.min.js";
 document.body.appendChild(e);
};
try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
catch(e){window.attachEvent("onload", $buo_f)}
		</script>


</body>
</html>
