<!DOCTYPE html>

@using Microsoft.AspNet.Identity
@using MiidWeb.Helpers

@RenderSection("scripts", required: false)
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="~/Scripts/growl.css" type="text/css">
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKCDRPP');</script>
    <!-- End Google Tag Manager -->

    @Styles.Render("~/content/css/css2018/bootstrap.css")
    @Styles.Render("~/content/css/css2018/main.css")

    @Styles.Render("~/content/css/newcss/font-awesome.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")


    @Scripts.Render("~/content/js/jquery-1-12-4-min.js")
    @Scripts.Render("~/content/js/jquery-touchswipe-min.js")

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


    <!-- Custom CSS -->
   

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <Script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "70%";
    // document.getElementById("flipkart-navbar").style.width = "50%";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.body.style.backgroundColor = "rgba(0,0,0,0)";
}
    </Script>

    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->


    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <!--fresh chat -->
    <script src="https://wchat.freshchat.com/js/widget.js"></script>


</head>

<body>

    




        <div id="wrapper">


            <div id="flipkart-navbar">

                <div class="row row1 " style="margin: 0">


                    <div class="flipkart-navbar-search smallsearch col-sm-5 col-xs-11 ">
                        <div class="row hidden-sm hidden-xs">

                            <div class="punchline">Safe, secure online ticketing and cashless services</div>
                        </div>
                    </div>
                    <div class="flipkart-navbar-search smallsearch col-sm-12 col-xs-12 col-md-5 pull-right">
                        <div class="row">


                            @if (Request.IsAuthenticated)
                            {
                                var endUser = MiidWeb.Repositories.EndUserRepository.GetUser(User.Identity.GetUserName(), true);
                                bool IAmEventOrganiser = false;
                                IAmEventOrganiser = MiidWeb.Repositories.EndUserRepository.AmIAnEventOrganiser(User.Identity.GetUserName());
                                if (endUser == null && !IAmEventOrganiser) { Response.Redirect("Account/Logoff"); }
                                <div>
                                    @{
                                        string profilePic = "avatar_blank.png";
                                        if (!String.IsNullOrEmpty(endUser.ProfilePicURL))
                                        {
                                            profilePic = endUser.ProfilePicURL;
                                        }
                                    }




                                    <div class="user-name col-md-4 col-sm-12 col-xs-12">

                                        <!--   @Html.ActionLink("Edit", "MiiDetails", "EndUsers", new { id = @endUser.Id }, null) -->
                                       <div> @endUser.FirstName </div>
                                        <img src="~/images/@profilePic" class="profile-image img-circle" style="width:50px; padding:5px;" />


                                    </div>



                                </div>
                                        }

                                        else

                                        {
                                            <div class="flipkart-navbar-search smallsearch col-sm-12 col-xs-12 col-md-9 pull-right">
                                                <div class="row">
                                                    <input class="flipkart-navbar-input col-xs-7" type="text" id="text2" placeholder="Search Events by name" name="">
                                                    <button class="flipkart-navbar-button col-xs-2" onClick="javascript: location.href=('../Events/Search?KeyWordSearchText=' + document.getElementById('text2').value);">
                                                        <svg width="15px" height="15px">
                                                            <path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 " fill="#fff"></path>
                                                        </svg>
                                                    </button>
                                                    <button class="pull-right btn-info btn-warning btn-lg" onclick="location.href = '../LoginAlternative/LoginAlternative' ">Sign In</button>

                                                </div>
                                            </div>
                                        }
                        </div>
                    </div>


                </div>
                <div class="row row2" style="margin: 0">
                    <div class="col-sm-2">
                        <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰<img src="~/Content/images2018/logo.svg" class="logo pull-right "></span></h2>
                        <h1 style="margin:0px;">
                        <span class="largenav">
                            <a href="@Url.Action("Index", "Home", null)">  <img src="~/Content/images2018/logo.svg"></a>
</span>
                        </h1>
                    </div>


                    @Html.Partial("_LoginPartial")






                </div>


            </div>
          







            @RenderBody()



            <footer>
                <div class="footer" id="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6">
                                <h3> General </h3>
                                <ul>
                                    <li>@Html.ActionLink("Help", "Help", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    <li> <a href="~/Home/TermsConditions">  Privacy Policy </a> </li>
                                    <li>@Html.ActionLink("T&C's", "FAQ", "Home")</li>


                                </ul>
                            </div>
                            <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6">
                                <h3>Event Organisers</h3>
                                <ul>
                                    <li> <a href="~/Home/ProductSummary">Services &amp; Products </a> </li>
                                    <li> <a href="~/Home/HelpEventOrganiser">Event Organiser's FAQ's </a> </li>
                                    <li> <a href="~/Home/RegisterDoc">  Terms Of Service </a> </li>
                                </ul>
                            </div>

                           
                            <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12 ">
                                <h3>News, updates &amp; Ticket Give-Aways</h3>
                                <ul>
                                    <li>
                                        <div class="input-append newsletter-box text-center">

                                            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                                            <style type="text/css">
                                                #mc_embed_signup {
                                                    clear: left;
                                                    font: 14px Helvetica,Arial,sans-serif;
                                                }
                                                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                                            </style>
                                            <div id="mc_embed_signup class="form-control">
                                                <form action="https://Miid.us11.list-manage.com/subscribe/post?u=ed8a48e7c98e079fec3fc9d69&amp;id=7be4714437" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                                    <div id="mc_embed_signup_scroll">

                                                        <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="email address" required>
                                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ed8a48e7c98e079fec3fc9d69_7be4714437" tabindex="-1" value=""></div>
                                                        <br>
                                                        <input type="submit" value="Subscribe" name="subscribe" class="btn btn-primary btn-lg btn-block" id="mc-embedded-subscribe">
                                                    </div>
                                                </form>
                                            </div>


                                        </div>
                                    </li>
                                </ul>
                                <ul class="social">
                                    <li> <a href="https://www.facebook.com/miidevents/"> <i class="fa fa-facebook">   </i> </a> </li>
                                    <li> <a href="https://api.whatsapp.com/send?phone=27614512633"> <i class="fa fa-whatsapp">   </i> </a> </li>

                                </ul>
                                <br><br><br>
                            </div>

                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                </div>
                <!--/.footer-->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="pull-left"> Copyright © Mii-D PTY ltd </p>
                        <div class="pull-right">
                            <ul class="nav nav-pills payments">
                                <li><i class="fa fa-cc-visa fa-lg"></i></li>
                                <li><i class="fa fa-cc-mastercard fa-lg"></i></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!--/.footer-bottom-->
            </footer>





          
       

       
            <!-- Latest compiled and minified JavaScript -->
            @Scripts.Render("~/content/js/bootstrap.min.js")
        </div>





        @Scripts.Render("~/bundles/jquery")

        @Scripts.Render("~/Scripts/jquery.tokeninput.js")



        @{
            string[] parts = new string[10];

            if (TempData.ContainsKey("Growl") && !String.IsNullOrEmpty((string)TempData["Growl"]))
            {
                string growl = (string)TempData["Growl"];
                parts = growl.Split(':');



                <script type="text/javascript">
        growl('@parts[0]', '@parts[1]');
                </script>
            }

        }

        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKCDRPP"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->


    <!--fresh chat -->
    <script>
  window.fcWidget.init({
    token: "5ee95482-25e4-40fc-98da-d71fcd720e25",
    host: "https://wchat.freshchat.com"
  });
    </script>

</body>
</html>
