<!DOCTYPE html>




<!--
    Read Only by HTML5 UP

    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>MiiD cashless payments systems for music festivals. concerts & events in Cape Town  |   Home,</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Use your festival wristband to make purchases without cash Easy, safe, quick & secure cashless purchases.">
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="../../content/css/main.css" />

 
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <script src="../../scripts/js/modernizr-2.6.2.min.js"></script>
->


  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")

  <link rel="stylesheet" href="~/Content/css/main.css" type="text/css">
  <link rel="stylesheet" href="~/Scripts/growl.css" type="text/css">

  <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />



</head>
<body>
  <div class="header_banner_conainer"><a href="https://www.miid.co.za"><img src="../../content/images/logo_dark.svg" alt="" class="logo" /></a></div>
  <!-- Header -->
  <section id="header">
    <header>
      <span class="logo"><img src="../../content/images/logo_dark.svg" alt="" /></span>


    </header>
    <nav id="nav">
      <ul>
        <li>
          @Html.Partial("_LoginPartial")



        </li>
        <li><a href="1.1.1_Registeration Process.html">Register</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="09_help.html">Help</a></li>
        <li><a href="EO_home.html">Event Organisers</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <a href="forgot_password.html">forgot password?</a>
    </nav>
    <footer>
      <ul class="icons">
        <li><a href="https://twitter.com/MiiDEvents" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/Fullsummerfest-1707827266111866/?fref=ts" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/miid_events/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      </ul>
    </footer>
  </section>

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">

      <!-- One -->
      <section id="">
        <img src="../../content/images/home_banner.png" class="responsive_two" />
        <div class="container">

          @RenderBody()

          <header class="major">
            <h1>Easy, Safe, Secure Festival Payments  </h1>
            <h4>
              Make hassle free cashless payments at music festivals & Events
            </h4>

          </header>
          <div class="p">
            Here at Mi-id we aim to make music festivals, concerts & events hassle free & safe for all those attending. We want you to to
            have fun and let loose and that's why we've lauched &#174;Mii-Band. Your Mii-Band is like any other festival wristband but it contains the latest
            in  RFID technology that converts your wrsitband into a cashless, pin-protected, pre-paid wallet allowing you to make cashless payments. All you need to do is topup funds online or at a
            music festival or event using the Mi-id cashless services, swipe your &#174;Mii-Band (festival wristband) when making a payments at the bar or food stalls, enter your pin and and that is.
            Its safe, its secure, its convenient.
          </div>


        </div>
      </section>

      <!-- Two -->
      <!-- Three -->
      <section id="three">
        <div class="container">
          <h1>Why use Mi-id Cashless Solutions at music festivals or Events    </h1>

          <div class="features">
            <article>
              <a href="#" class="image"><img src="../../content/images/home01.png" alt="" /></a>
              <div class="inner">
                <h4>Safe & easy cashless payments</h4>
                <p>
                  MiiD does not link to any of your bank accounts or save sensitive information that can be stolen or duplicated, instead Mi-id uses pre-paid
                  funds that are linked to your festival wristband from your Mi-id account. This eliminates  the need to carry around cash or cards, all you need to so is  swipe your NFC enabled festival wristband band when making payments for items & enter your pin code. Its that simple
                </p>
              </div>
            </article>
            <article>
              <a href="#" class="image"><img src="../../content/images/home02.png" alt="" /></a>
              <div class="inner">
                <h4>No more lost or stolen cards or phones</h4>
                <p>
                  Topup up online with your Mi-id account before an event using standard EFT,  Instant EFT & your bank card, or at the venue via your bank card or intant EFT. Lock your valuables away and have peace of mind they they are safe & secure.
                </p>
              </div>
            </article>
            <article>
              <a href="#" class="image"><img src="../../content/images/home03.png" alt="" /></a>
              <div class="inner">
                <h4>Your funds and informtion are safe & secure</h4>
                <p>
                  Your funds are stored on your profile and not your festival wristband.
                  Not only is your &#174;Mii-Band PIN protect, but you can cancel your Mii-Band at any time via your Mi-id profile. You can also easily re-activate your
                  band after obtaining a replacment at an event using the Mi-id cashless services or at a participating retailer.
                </p>
              </div>
            </article>
            <article>
              <a href="#" class="image"><img src="../../content/images/home04.png" alt="" /></a>
              <div class="inner">
                <h4>Easy to use</h4>
                <p>
                  To start using your Mii-Band for NFC cashless payments all you need to do is register & top up funds. You can top up online or at one of our topup points at music
                  festival & events using the Mi-id cashless service. You  can pick up your Mii-Band at the entrance of participating events or at selected
                  pick up points before an event. Along with a your &#174;Mii-Band you will recieve a band number & an activation code. All you need to do is log onto your
                    Mi-id account and activate your &#174;MiiBand. This will automaticly link your festival wristband  (®MiiBand ) to your profile so you can start making
                  cashless payments.
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>


      <section id="five">
        <div class="container">








          <section>



            <h5>Mi-id proritises online security</h5>
            <p>Mi-id uses all the nessasacy precautions in order to protect you, your money and your funds.</p>
            <ul>
              <li>2048 Bit secure transactions</li>
              <li>3D Secure payment gateswasys</li>
              <li>Pin protected passwords on all Mii-Bands</li>
            </ul>

          </section>


        </div>
      </section>
      <section id="five">
        <div class="container">








          <section>


            <h5>Want more info?</h5>
            <p>Not to sure about how cashless events & cashless festivals work orf what a Mii-Band is? Find out more at Mi-id Festival Solutions easy to use help section.  </p>
          </section>
          <ul class="actions">

            <li><a href="09_help.html" class="button special">Need help?</a></li>

          </ul>

        </div>
      </section>



    </div>

    <!-- Footer -->
    <section id="footer">
      <div class="container">
        <ul class="icons">
          <li><a href="https://twitter.com/MiiDEvents" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.facebook.com/Fullsummerfest-1707827266111866/?fref=ts" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://www.instagram.com/miid_events/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
        <ul class="copyright">
          <li><a href="~/Home/Contact">Contact us</a></li>
          <li><a href="~/Home/TermsConditions">Terms & Conditions</a></li>
          <li><a href="~/Home/IndexEO">Event Organiser info</a></li>
        </ul>
        <img src="../../content/images/geotrust.svg" class="scale_small" />
        <img src="../../content/images/payfast.svg" class="scale_small" />
        <img src="../../content/images/visa.svg" class="scale_small" />
        <img src="../../content/images/mastercard.svg" class="scale_small" />
        <img src="../../content/images/bankinglogos.svg" class="scale_small" />


        <ul class="copyright">
          <li>&copy; Copyright of MiiD (PTY) ltd. All rights reserved.</li>

        </ul>
        <ul class="copyright">
          <li>
            MiiD online ticketing & cashless solutions & payments  |
            16 Franssen Street, Bothasig, Cape Town, South Africa, 7441
          </li>

        </ul>


      </div>
    </section>

  </div>
  <script src="../../scripts/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../scripts/js/jquery-1.9.1.min.js"><\/script>')</script>
  <!-- Scripts -->
  <script src="../../scripts/js/main_carousel.js"></script>
  <script src="../../scripts/jquery.scrollzer.min.js"></script>
  <script src="../../scripts/jquery.scrolly.min.js"></script>
  <script src="../../scripts/skel.min.js"></script>
  <script src="../../scripts/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="../../scripts/main.js"></script>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @Scripts.Render("~/Scripts/jquery.tokeninput.js")

  @RenderSection("scripts", required: false)

  @{
    string[] parts = new string[10];

    if (TempData.ContainsKey("Growl") && !String.IsNullOrEmpty((string)TempData["Growl"]))
    {
      string growl = (string)TempData["Growl"];
      parts = growl.Split(':');



      <script type="text/javascript">
        growl('@parts[0]', '@parts[1]');
      </script>
    }

  }
</body>
</html>