@using Microsoft.AspNet.Identity
@model MiidWeb.Models.ForgotPasswordViewModel
@{
	/**/

	/**/

	ViewBag.Title = "Forgot your password?";
	bool IAmEventOrganiser = false;
	if (Request.IsAuthenticated)
	{
		IAmEventOrganiser = MiidWeb.Repositories.EndUserRepository.AmIAnEventOrganiser(User.Identity.GetUserName());
	}

}

@if (IAmEventOrganiser)
{
	Layout = MiidWeb.Repositories.TicketRepository.GetLayoutFile("LayoutEventOrganiser");
}
else
{
	Layout = MiidWeb.Repositories.TicketRepository.GetLayoutFile("Layout");
}




@if (IAmEventOrganiser)
{

	<title>Password reset for Mi-id Online Ticketing and Cashless Services</title>
	<meta name="description" content="Reset your password for your Mi-id account here">

	<div class="row">
		<div class="panel-body">
			<div class="col-md-12 w3ls-graph">
				<!--agileinfo-grap-->
				<div class="agileinfo-grap">
					<div class="agileits-box">
						<div class="agileits-box-body clearfix">
							<div class="form-group col-md-12">

								@Html.Hidden("ReturnUrl", (object)ViewBag.ReturnUrl)


								@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "nospace", @class = "form-horizontal", role = "form" }))
								{
									@Html.AntiForgeryToken()


									<div class="row">
										<div class="col-md-12">
											<h3>Reset Password</h3>
											<p style="margin-top:10px;">
												To rest your password fIll in your account email below An reset password link will be sent to your email. Open the email, click on the link and follow the prompts.
												<br><br>
											</p>
										</div>
									</div>

									<div class="row">
										<div class="col-md-8">

											@Html.TextBoxFor(m => m.Email, new { @id = "ValidEmail", @class = "form-control input-lg", placeholder = "Enter Your account email" })
										</div>


										<div class="col-md-4">
											<input type="submit" class="btn btn-lg btn-info btn-block" value="Email Link" />

										</div>
									</div>



									@section Scripts {
										@Scripts.Render("~/bundles/jqueryval")
									}




								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--igonre spces that where copied and pasted-->
	<script>
		$('#ValidEmail').on("input", function () {
			$(this).val($(this).val().replace(/ /g, ""));
		});
	</script>

	<!--disables spacebar-->
	<script>
		$(document).ready(function () {
			$("#nospace").keydown(function (event) {
				if (event.keyCode == 32) {
					event.preventDefault();
				}
			});
		});
	</script>



}


else
{
	<div class="container bg-grey">
		<div class="row vertical-offset-40px">


			<div class="col-md-6 col-md-offset-3">

				<div class="panel panel-default ">

					<div class="panel-body text-center">

						@Html.Hidden("ReturnUrl", (object)ViewBag.ReturnUrl)


						@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "nospace", @class = "form-horizontal", role = "form" }))
						{
							@Html.AntiForgeryToken()

							<div>
								<h1 class="meduim">Can't remember your password?</h1>
								Don't stress. Fill in your email below and we will send you a <strong>reset password link to your email address</strong> so you can reset it.
								Once you receive the email click on the link inside.
								<br><br>
							</div>
							<p>
								<div class="form-group col-md-12">

									@Html.TextBoxFor(m => m.Email, new { @id = "ValidEmail", @class = "form-control input-lg", placeholder = "Enter Email" })
								</div>
							</p>
							<p>
								<div class="form-group col-md-12">
									<input type="submit" class="btn btn-lg btn-default btn-block" value="Email Link" />

								</div>


							</p>
							@section Scripts {
								@Scripts.Render("~/bundles/jqueryval")
							}




						}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--igonre spces that where copied and pasted-->
	<script>
		$('#ValidEmail').on("input", function () {
			$(this).val($(this).val().replace(/ /g, ""));
		});
	</script>

	<!--disables spacebar-->
	<script>
		$(document).ready(function () {
			$("#nospace").keydown(function (event) {
				if (event.keyCode == 32) {
					event.preventDefault();
				}
			});
		});
	</script>

}



