@using Microsoft.AspNet.Identity
@model MiidWeb.Models.ResetPasswordViewModel
@{
	ViewBag.Title = "Reset password";
	bool IAmEventOrganiser = false;
	if (Request.IsAuthenticated)
	{
		IAmEventOrganiser = MiidWeb.Repositories.EndUserRepository.AmIAnEventOrganiser(User.Identity.GetUserName());
	}

}

@if (IAmEventOrganiser)
{
	Layout = MiidWeb.Repositories.TicketRepository.GetLayoutFile("LayoutEventOrganiser");
}
else
{
	Layout = MiidWeb.Repositories.TicketRepository.GetLayoutFile("Layout");
}




@if (IAmEventOrganiser)
{

<div class="row">
	<div class="panel-body">
		<div class="col-md-12 w3ls-graph">
			<!--agileinfo-grap-->
			<div class="agileinfo-grap">
				<div class="agileits-box">
					<div class="agileits-box-body clearfix">
						<div class="form-group col-md-12">

							<div class="row">
								<div class="col-md-12">
									<h3>Confirm New Password</h3>
									<p style="margin-top:10px;">
										Fill in your email and your password. Your new password must be more than 6 characters long.
										<br><br>
									</p>
								</div>
							</div>



							@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "nospace", @class = "form-horizontal", role = "form" }))
							{
								@Html.AntiForgeryToken()

								@Html.ValidationSummary("", new { @class = "red" })
								@Html.HiddenFor(model => model.Code)

								@Html.LabelFor(m => m.Email, new { @class = "hidden" })
								<div class="row">
									<div class=" col-md-12" style="margin-bottom:20px;">
										@Html.TextBoxFor(m => m.Email, new { @id = "ValidEmail", @class = "form-control input-lg", placeholder = "Enter Email" })
									</div>
								</div>


								@Html.LabelFor(m => m.Password, new { @class = "hidden" })
								<div class="row">
									<div class="col-md-6" style="margin-bottom:20px;">
										@Html.PasswordFor(m => m.Password, new { @id = "ValidPassword", @class = "form-control input-lg", placeholder = "New Password" })
									</div>


									<div class="col-md-6">
										@Html.LabelFor(m => m.ConfirmPassword, new { @class = "hidden" })
										@Html.PasswordFor(m => m.ConfirmPassword, new { @id = "ValidConfirmPassword", @class = "form-control input-lg", placeholder = "Confirm Password" })


									</div>
								</div>
								<div class="row">

									<div class="form-group col-md-12 text-center">
										<input type="checkbox" onclick="ShowPassword2();ShowPassword1()" />
										<label>Show Password</label>

									</div>
								</div>

								<div class="row">

									<div class="form-group col-md-12 text-center">

									<input type="submit" class="btn btn-lg btn-info " value="Reset Password" />

									</div>
									</div>


									}




								</div>
								</div>


							</div>
			</div>
		</div>
		</div>
	</div>
	
		}


		else
		{


		<div class="container bg-grey">
			<div class="row vertical-offset-40px">


				<div class="col-md-6 col-md-offset-3">

					<div class="panel panel-default ">

						<div class="panel-body text-center">

							<br>

							<h4>Reset Password</h4>
							<p>* Your Password be at least must 6 characters long.</p>



							@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "nospace", @class = "form-horizontal", role = "form" }))
							{
								@Html.AntiForgeryToken()

								@Html.ValidationSummary("", new { @class = "red" })
								@Html.HiddenFor(model => model.Code)

								@Html.LabelFor(m => m.Email, new { @class = "hidden" })
								<p>
									<div class="form-group col-md-12 ">
										@Html.TextBoxFor(m => m.Email, new { @id = "ValidEmail", @class = "form-control input-lg", placeholder = "Enter Email" })
									</div>
								</p>
								@Html.LabelFor(m => m.Password, new { @class = "hidden" })
								<p>
									<div class="form-group col-md-12 ">
										@Html.PasswordFor(m => m.Password, new { @id = "ValidPassword", @class = "form-control input-lg", placeholder = "New Password" })
									</div>
								</p>
								<p>
									<div class="form-group col-md-12 ">
										@Html.LabelFor(m => m.ConfirmPassword, new { @class = "hidden" })
										@Html.PasswordFor(m => m.ConfirmPassword, new { @id = "ValidConfirmPassword", @class = "form-control input-lg", placeholder = "Confirm Password" })


									</div>
								</p>

								<div class="form-group pull-left col-md-12 ">
									<input type="checkbox" onclick="ShowPassword2();ShowPassword1()" />
									<label>Show Password</label>

								</div>


								<input type="submit" class="btn btn-lg btn-default btn-block" value="Reset Password" />


							}




						</div>
					</div>


				</div>
			</div>
		</div>


		}
		<!--igonre spces that where copied and pasted-->
		<script>
			$('#ValidEmail').on("input", function () {
				$(this).val($(this).val().replace(/ /g, ""));
			});
		</script>
		<script>
			$('#ValidPassword').on("input", function () {
				$(this).val($(this).val().replace(/ /g, ""));
			});
		</script>
		<script>
			$('#ValidConfirmPassword').on("input", function () {
				$(this).val($(this).val().replace(/ /g, ""));
			});
		</script>


		<script>
			function ShowPassword2() {
				var x = document.getElementById("ValidConfirmPassword");
				if (x.type === "password") {
					x.type = "text";
				} else {
					x.type = "password";
				}
			}
		</script>
		<script>
			function ShowPassword1() {
				var x = document.getElementById("ValidPassword");
				if (x.type === "password") {
					x.type = "text";
				} else {
					x.type = "password";
				}
			}
		</script>

		<!--Close show hide password-->
		<!--disable spaces-->

		<script>


			function doIt(e) {
				var e = e || event;

				if (e.keyCode == 32) return false;

			}
			window.onload = function () {
				var inp = document.getElementById("ValidConfirmEmail");
				var inpa = document.getElementById("ValidPassword");
				var inpb = document.getElementById("ValidConfirmPassword");
				var inpc = document.getElementById("ValidEmail");

				inp.onkeydown = doIt;
				inpa.onkeydown = doIt;
				inpb.onkeydown = doIt;
				inpc.onkeydown = doIt;
			};

		</script>

