@model MiidWeb.Ticket

@{
	Layout = "~/Views/Shared/_LayoutBackend.cshtml";
	//Layout = null;
}
<style>
	<!--

	.glyphicon {
		cursor: pointer;
	}

	input,
	select {
		width: 100%;
	}
	-->
</style>
<div class="col-md-9">
	<div class="row">
		<div class="col-md-12">

			<div class="panel-title panel-warning">
				<div class="panel panel-danger">
					<div class="panel-heading">Warning: Are you sure you would like to delete Ticket:<strong> @Model.TicketNumber</strong></div>
					<div class="panel-body">
						<dl class="dl-horizontal">
							<dt>
								@Html.DisplayNameFor(model => model.TicketNumber)


							</dt>

							<dd>
								@Html.DisplayFor(model => model.TicketNumber)
							</dd>

							<dt>
								@Html.DisplayNameFor(model => model.StatusID)
							</dt>

							<dd>
								@Html.DisplayFor(model => model.StatusID)
							</dd>

							<dt>
								@Html.DisplayNameFor(model => model.TicketPurchasePrice)

							</dt>

							<dd>
								@Html.DisplayFor(model => model.TicketPurchasePrice)
							</dd>

							<dt>
								@Html.DisplayNameFor(model => model.DatetimePurchased)
							</dt>

							<dd>
								@Html.DisplayFor(model => model.DatetimePurchased)
							</dd>

							<dt>
								@Html.DisplayNameFor(model => model.DatetimeReserved)
							</dt>

							<dd>
								@Html.DisplayFor(model => model.DatetimeReserved)
							</dd>

							<dt>
								@Html.DisplayNameFor(model => model.DatetimeRedeemed)
							</dt>

							<dd>
								@Html.DisplayFor(model => model.DatetimeRedeemed)
							</dd>

							<dt>
								@Html.DisplayNameFor(model => model.Hash)
							</dt>

							<dd>

							</dd>

							<dt>
								@Html.DisplayNameFor(model => model.TicketClass.Code)
							</dt>

							<dd>
								@Html.DisplayFor(model => model.TicketClass.Code)
							</dd>


							<dt>
								@Html.LabelFor(model => model.EndUserID, "EndUserID", htmlAttributes: new { @class = "" })
							</dt>
							<dd>



								@Html.DisplayFor(model => model.EndUserID)
							</dd>

							<dt>

							</dt>
							<button type="submit" value="Delete" class="btn btn-primary btn-danger pull-right">Delete</button>


						</dl>
					</div>
				</div>
			</div>
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()

			<div class="form-actions no-color">
			
				@Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class="btn btn-primary"})
				
			</div>
			}






		</div>
		</div>
</div>
<div>
	
	

	
</div>
