@model MiidWeb.Models.EOEventSummaryViewModel

<h2>EventSummary</h2>


@foreach (var item in Model.EventSummaries)
{

    <span>@item.EventName</span>
    <span>@item.TicketClassName</span>
    <span>@item.TicketCount</span>
    <span>@item.StartDateTime</span>
    <span>@item.TicketValue</span>
    <span>@item.DaysTillEvent</span>

}


